{% extends 'dashboard/base.html' %}
{% block title %}User Dashboard{% endblock title %}
{% block content %}
<div class="row col">
<h3 class="col-10">All Users</h3>
<button class="col-1"><a href="{% url 'user_new' %}" class="text-decoration-none">Add New</a></button>
</div>

<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>email</th>
            <th>created_at</th>
            <th>user_level</th>
            <th>actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{% url 'user_view' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.user_level.name }}</td>
            <td><a href="{% url 'admin_user_edit' user.id %}">edit</a> <a href="{% url 'user_remove' user.id %}">remove</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}