{% extends 'login/base.html' %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div class="bg-secondary border p-5">
    <h4>Welcome to the test</h4>
    <p>We´re going to build a cool application using a MVC framework! This application was built whith the village99 folks!</p>
    <button class="w-5 btn btn-primary btn-lg" type="submit"><a href="{% url 'signin_view' %}" class="text-light text-decoration-none">Start</a></button>
</div>
<div class="row">
    <div class="col sm">
        <h4>Manage Users</h4>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application</p>
    </div>
    <div class="col sm">
        <h4>Leave messages</h4>
        <p>Users will be able to leave a message to another user using this application</p>
    </div>
    <div class="col sm">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edit another user's infornation (email address, first name, last name, etc)</p>
    </div>
</div>
{% endblock content %}